include ../icon/icon

mixin github-button(data)
	a(href="//github.com/mathetes/gf3016", target="_blank", title="Процесс разработки на Github").github-button
		span.github-button__icon
			+icon('github-octocat')
		
		span.github-button__text Github
